.service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 80px;

  article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;

    img {
      width: 35px;
      height: 35px;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h1 {
        font-size: 15px;
        font-weight: bold;
      }

      h2 {
        font-size: 13px;
        opacity: 0.9;
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}
