@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #f5f5f5;
}
