.slider-container {
  display: flex;
  flex-direction: row-reverse;
  width: 700px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 300px;
  }

  .mySwiper2 {
    width: 70%;
    height: 400px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    @media screen and (max-width: 767px) {
      height: 350px;
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .mySwiper {
    width: 20%;
    height: 400px;
    @media screen and (max-width: 767px) {
      display: none;
    }

    // .swiper-wrapper {
    //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // }

    .swiper-slide {
      width: 100%;
      height: calc(25% - 10px);
      opacity: 0.4;
      cursor: pointer;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      &.swiper-slide-thumb-active {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
