.chat-scroll::-webkit-scrollbar {
  width: 4px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
