.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  padding: 40px 40px 40px 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 250px;
    img {
      width: 150px;
      height: 50px;
    }
    p {
      font-size: 13px;
    }
    p:last-child {
      color: black;
      font-weight: 600;
    }
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    h1 {
      font-size: 15px;
      color: black;
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 13px;
        }
      }
    }
  }

  .footer-map {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    h1 {
      font-size: 15px;
      color: black;
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 5px;

        span {
          text-decoration: none;
          color: black;
          font-size: 13px;
        }
      }
    }
  }

  .footer-ask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    h1 {
      font-size: 15px;
      color: black;
      font-weight: 600;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          font-size: 13px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;

    justify-content: flex-start; // Ajustar el espaciado entre elementos
    align-items: center;
  }
}
