@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out 0.3s forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  padding-top: 125px;

  @media screen and (max-width: 768px) {
    padding-top: 70px;
  }
}
